.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background-color: rgba(103, 34, 128, 1);
  color: wheat;
  padding: 20px;
  margin: 15px 20px;
}

.header-image {
  margin-right: 6px;
  height: 100%;
}

.header-title {
  font-size: 20px;
  margin-right: auto;
}

.header-project {
  font-size: 12px;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form-input {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form-button {
  grid-column: 1 / -1;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  border: none;
  background-color: rgba(103, 34, 128, 1);
  color: wheat;
  cursor: pointer;
}

.meme-image{
  max-width: 
  100%;
 
}
